<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments::page_head('Categories - Easy Shopping Admin','none')">
    </head>
<body>
<div class="container-fluid">
    <div th:replace="navigation_menu_fragment::navigation_menu"></div>
    <div>
        <div>
            <h2>Manage Categories</h2>
            <div th:if="${message != null}" class="alert alert-success text-center m-lg-1">
                [[${message}]]
            </div>
        </div>

        <div style="display: flex; align-items: center;">
            <div class="manage-entity-menu">
                <a th:href="@{/categories/new}" class="create-new-entity mr-2" data-title="Create Category"><img th:src="@{/icon/category.png}" width="40px" height="40px">
                </a>

                <a th:href="@{/categories/export/csv}" class="export-csv mr-2" data-title="Export categories to CSV"><img th:src="@{/icon/icons8-export-csv-80.png}" width="40px" height="40px">
                </a>

                <a th:href="@{/categories/export/excel}" class="export-excel mr-2" data-title="Export categories to Excel"><img th:src="@{/icon/icons8-export-excel-96.png}" width="40px" height="40px">
                </a>

                <a th:href="@{/categories/export/pdf}" target=”_blank” class="export-pdf mr-2"  data-title="Export categories to PDF"><img th:src="@{/icon/icons8-export-pdf-60.png}" width="43px" height="43px">
                </a>
            </div>
            <div th:replace="fragments::search_form('/categories/page/1')"></div>
        </div>
    </div>

    <div class="table-responsive full-details">
        <table class="table table-bordered table-striped table-hover table-responsive{-sm|-md|-lg|-xl} entity-table">
            <thead class="table-dark">
            <tr>
                <th class="hideable-column">ID</th>
                <th>Category Image</th>
                <th>
                    <a class="text-white"
                       th:href="@{'/categories/page/'+${currentPage}+'?sortField='+${sortField}+'&sortDirection='+${sortField != sortField ? sortDirection :reverseDirection}+${keyword != null ? '&keyword=' + keyword : ''}}">Category Name</a>
                    <span th:class="${reverseDirection == 'desc' ? 'fas fa-sort-up': 'fas fa-sort-down'}"></span>
                </th>
                <th>Alias</th>
                <th>Enabled</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="entity-table-body">
            <tr th:each="category: ${listCategories}">
                <td class="hideable-column">
                    <span th:text="${category.id}"></span>
                    <span id="id" th:value="${category.id}"></span>
                </td>
                <td>
                    <img th:if="${category.image==null}" th:src="@{/icon/entity-default.png}">
                    <img th:if="${category.image!=null}" th:src="@{${category.imagePath}}" style="width: 100px"
                         class="img-fluid">
                </td>
                <td style="text-align: left;"><span th:text="${category.name}"></span>
                </td>

                <td>[[${category.alias}]]</td>

                <td class="entity-table-body cell">
                    <span hidden th:value="${category.enabled}" th:text="${category.enabled}"></span>

                    <a th:if="${category.enabled==true}" class="entity-table-body-enable" title="The category is currently enabled. Click to disable"
                       th:href="@{'/categories/' + ${category.id} + '/enabled/false?page='+${currentPage}+'&sortField='+${sortField}+'&sortDirection='+${sortDirection}+${keyword != null ? '&keyword=' + keyword : ''}}"><img th:src="@{/icon/category-checked.png}" width="30px" height="30px"></a>

                    <a th:if="${category.enabled==false}" class="entity-table-body-enable" title="The category is currently disabled. Click to enable"
                       th:href="@{'/categories/' + ${category.id} + '/enabled/true?page='+${currentPage}+'&sortField='+${sortField}+'&sortDirection='+${sortDirection}+${keyword != null ? '&keyword=' + keyword : ''}}"><img th:src="@{/icon/category-denied.png}" width="30px" height="30px"></a>
                </td>
                <td class="entity-table-body cell">
                    <div class="cell edit-delete" style="justify-content: center;">

                        <a th:href="@{'/categories/edit/'+${category.id}+${currentPage != null ? '?page=' + currentPage : ''} +${sortField != null ? '&sortField=' + sortField : ''}+ ${sortDirection != null ? '&sortDirection=' + sortDirection : ''}+ ${keyword != null ? '&keyword=' + keyword : ''}}" class="entity-table-body-edit" style="display: flex; flex-direction: column; align-items: center; margin-right: 0.5em;"><img th:src="@{/icon/icons8-edit-48.png}" width="30px" height="30px">Edit</a>

                        <a th:if="${category.hasChildren == false}" th:href="@{'/categories/delete/'+${category.id}+${currentPage != null ? '?page=' + currentPage : ''} +${sortField != null ? '&sortField=' + sortField : ''}+ ${sortDirection != null ? '&sortDirection=' + sortDirection : ''}+ ${keyword != null ? '&keyword=' + keyword : ''}}" class="entity-table-body-delete link-delete"
                           style="display: flex; flex-direction: column; align-items: center;"><img th:src="@{/icon/icons8-delete-48.png}" width="30px" height="30px">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details">
        <div th:each="category: ${listCategories}" class="row m-1">
            <div class="col-4 mb-2 less-details-photo-place">
                <img th:if="${category.image==null}" th:src="@{/icon/entity-default.png}">
                <img th:if="${category.image!=null}" th:src="@{${category.imagePath}}" style="width: 100px" class="img-fluid">
            </div>
            <div class="col-8 mb-3" style="display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center;">
                <div style="font-size: 18px; font-weight: bold">[[${category.name}]]</div>
                <div class="mt-2 entity-table-body cell" style="display: flex">
                    <span hidden th:value="${category.enabled}" th:text="${category.enabled}"></span>

                    <a th:if="${category.enabled==true}" class="entity-table-body-enable" title="The category is currently enabled. Click to disable"
                       th:href="@{'/categories/' + ${category.id} + '/enabled/false?page='+${currentPage}+'&sortField='+${sortField}+'&sortDirection='+${sortDirection}+${keyword != null ? '&keyword=' + keyword : ''}}" style="display: flex; flex-direction: column; align-items: center; margin-right: 0.5em;"><img th:src="@{/icon/category-checked.png}" width="30px" height="30px">Enabled</a>

                    <a th:if="${category.enabled==false}" class="entity-table-body-enable" title="The category is currently disabled. Click to enable"
                       th:href="@{'/categories/' + ${category.id} + '/enabled/true?page='+${currentPage}+'&sortField='+${sortField}+'&sortDirection='+${sortDirection}+${keyword != null ? '&keyword=' + keyword : ''}}" style="display: flex; flex-direction: column; align-items: center; margin-right: 0.5em;"><img th:src="@{/icon/category-denied.png}" width="30px" height="30px">Disabled</a>

                    <a th:href="@{'/categories/edit/'+${category.id}+${currentPage != null ? '?page=' + currentPage : ''} +${sortField != null ? '&sortField=' + sortField : ''}+ ${sortDirection != null ? '&sortDirection=' + sortDirection : ''}+ ${keyword != null ? '&keyword=' + keyword : ''}}" class="entity-table-body-edit" style="display: flex; flex-direction: column; align-items: center; margin-right: 0.5em;"><img th:src="@{/icon/icons8-edit-48.png}" width="30px" height="30px">Edit</a>

                    <a th:if="${category.hasChildren == false}" th:href="@{'/categories/delete/'+${category.id}+${currentPage != null ? '?page=' + currentPage : ''} +${sortField != null ? '&sortField=' + sortField : ''}+ ${sortDirection != null ? '&sortDirection=' + sortDirection : ''}+ ${keyword != null ? '&keyword=' + keyword : ''}}" class="entity-table-body-delete link-delete" style="display: flex; flex-direction: column; align-items: center;"><img th:src="@{/icon/icons8-delete-48.png}" width="30px" height="30px">Delete</a>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center" th:if="${keyword !=null}"><span>Search does not show categories in hierarchical form</span>
    </div>

    <div class="text-center m-1" th:if="${totalItems > 0}">
        <span>Showing categories # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
    </div>
    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <span>No categories found</span>
    </div>

    <!--Pagination-->
    <div th:if="${totalPages > 1}">
        <nav>
            <ul class="pagination justify-content-center flex-wrap">
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments::categories_pagination_page_link(1,'First')"/>
                </li>

                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments::categories_pagination_page_link(${currentPage - 1},'Previous')"/>
                </li>

                <th:block th:if="${totalPages <= 10}">
                    <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                        th:class="${currentPage != i ? 'page-item': 'page-item active'}">
                        <a th:replace="fragments::categories_pagination_page_link(${i},${i})"/>
                    </li>
                </th:block>

                <th:block th:if="${totalPages > 10}">
                    <th:block th:if="${currentPage <= 5 || currentPage > totalPages - 4}">
                        <li th:each="i : ${#numbers.sequence(1,5)}"
                            th:class="${currentPage != i ? 'page-item': 'page-item active'}">
                            <a th:replace="fragments::categories_pagination_page_link(${i},${i})"/>
                        </li>

                        <a th:replace="fragments::categories_pagination_page_link(6,'...')"/>

                        <li th:each="i : ${#numbers.sequence(totalPages - 4,totalPages)}"
                            th:class="${currentPage != i ? 'page-item': 'page-item active'}">
                            <a th:replace="fragments::categories_pagination_page_link(${i},${i})"/>
                        </li>
                    </th:block>

                    <th:block th:if="${currentPage > 5 && currentPage <= totalPages - 4}">
                        <a th:replace="fragments::categories_pagination_page_link(${currentPage - 5},'...')"/>

                        <li th:each="i : ${#numbers.sequence(currentPage - 4,currentPage + 4)}"
                            th:class="${currentPage != i ? 'page-item': 'page-item active'}">
                            <a th:replace="fragments::categories_pagination_page_link(${i},${i})"/>
                        </li>

                        <a th:replace="fragments::categories_pagination_page_link(${currentPage + 5},'...')"/>
                    </th:block>
                </th:block>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments::categories_pagination_page_link(${currentPage + 1},'Next')"/>
                </li>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments::categories_pagination_page_link(${totalPages},'Last')"/>
                </li>
            </ul>
        </nav>
    </div>

    <div th:replace="modal_fragments::modal_dialog_confirm_delete"></div>

    <div th:replace="fragments::footer"></div>
</div>

<script th:src="@{/js/forms.js}"></script>
<script th:src="@{/js/common.js}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), "category");
        });
    });

    function clearFilter() {
        window.location = "[[@{/categories}]]";
    }
</script>

<script th:src="@{/js/forms.js}"></script>
</body>
</html>